.open {
  position: absolute;
  color: whitesmoke;
  font-weight: 500;
}

.locked {
  position: absolute;
  color: rgba(245, 245, 245, 0.8);
  font-weight: 400;
}

.notes {
  position: absolute;
  width: 3ch;
  bottom: 0.3em;

  font-size: 0.85rem;
  word-wrap: break-word;
  line-height: 1.2em;
}

.highlight {
  position: relative;
  width: 85%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: all 75ms ease-out;
}

.highlight_hidden {
  opacity: 0;
  transform: scale(0.8);
}

.highlight_showing {  
  opacity: 1;
  transform: scale(1);
}