:root {
  --primary-color: rgb(223, 94, 51);
  --grid-emphasis-color: rgb(222, 143, 117);

  --details-color: whitesmoke;
  --grid-default-color: rgba(25, 25, 25, 0.262);
  --gridline-emphasis-width: 3px;
}

:focus { outline: none; }

#root {
  margin: 0;
  padding: 0;
  width: 100svw;
  min-height: 100svh;
  text-align: center;
  box-sizing: border-box;

  justify-content: center;
  vertical-align: middle;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.app-base {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  min-height: 100svh;

  margin: 0;
}

.sudoku-grid-wrapper {
  position: relative;

  width: min(90svw, 50svh);
  height: min(90svw, 50svh);

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  margin-top: 1rem;

  background-color: rgb(43, 59, 49);
  border-radius: 1rem;
}

.sudoku-grid {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
  
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);

  border-radius: 1rem;
  outline: solid 1px var(--details-color);
  box-shadow: 0 0 2rem #00000082;

  overflow: hidden;
  background-color: rgb(57, 59, 60);
}

.gridline-emphasis {
  position: absolute;

  display: flex;
  justify-content: space-evenly;
  pointer-events: none;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
}

.flex-direction-column {
  flex-direction: column;
}

.gridline-emphasis-vertical {
  width: var(--gridline-emphasis-width);
  height: 100%;
  background-color: var(--grid-emphasis-color);
}

.gridline-emphasis-horizontal {
  width: 100%;
  height: var(--gridline-emphasis-width);
  background-color: var(--grid-emphasis-color);
}

.sudoku-grid-cell {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: solid var(--grid-default-color) 1px;
  border-right: solid var(--grid-default-color) 1px;
}

.difficulty-selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto 0 auto;
  max-width: 90svw;
}

.difficulty-selection * > * {
  min-width: 10ch;
  margin: 0.2rem;
  border-radius: 2rem;
  text-transform: lowercase;
}

.number-selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto 0 auto;
  max-width: 90svw;
}

.number-selection * > * {
  margin: 0.1rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  text-transform: lowercase;
}

.utility-button {
  width: fit-content;
  margin: 0.1rem auto;
  border-radius: 2rem;
  text-transform: lowercase;
}

.utility-button[data-is-notes-mode="true"] {
  background-color: var(--primary-color);
}