.number {
  position: absolute;
  font-size: 1.5rem;
  pointer-events: none;
  user-select: none;
}

.open {
  composes: number;

  color: whitesmoke;
  font-weight: 500;
}

.locked {
  composes: number;

  color: rgba(245, 245, 245, 0.8);
  font-weight: 400;
}

.notes {
  position: absolute;
  max-width: 3ch;
  bottom: 0.2em;

  font-size: 0.75rem;
  word-wrap: break-word;
  line-height: 1.05em;
}

.highlight {
  position: relative;
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: all 150ms;
}

.highlight-hidden {
  composes: highlight;

  opacity: 0;
  transform: scale(0.8);
}

.highlight-showing {  
  composes: highlight;
  
  opacity: 1;
  transform: scale(1);
}

.sudoku-grid-cell {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: solid var(--grid-default-color) 1px;
  border-right: solid var(--grid-default-color) 1px;

  transition: opacity 500ms ease-out;
}

.sudoku-grid-cell-solved {
  composes: sudoku-grid-cell;

  transition: opacity 500ms ease-out;
  opacity: 0;
}