:root {
  --primary-color: rgb(243, 111, 59);
  --details-color: whitesmoke;
}

:focus { outline: none; }

#root {
  margin: 0;
  padding: 0;
  width: 100svw;
  height: 100svh;
  text-align: center;
  box-sizing: border-box;

  justify-content: center;
  vertical-align: middle;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.app-base {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  min-height: 100%;

  margin: 0;
}

.sudoku-grid {
  width: min(80svw, 50svh);
  height: min(80svw, 50svh);

  margin: 0 auto;
  margin-top: 2rem;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);

  border-radius: 1rem;
  border: 0.3rem solid var(--details-color);

  overflow: hidden;
  background-color: rgb(57, 59, 60);
}

.sudoku-grid-cell {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: solid var(--details-color) 1px;
  border-right: solid var(--details-color) 1px;
}

.sudoku-grid-cell[data-x="2"],
.sudoku-grid-cell[data-x="5"] {
  border-right: 0.3rem solid var(--details-color);
}

.sudoku-grid-cell[data-y="2"],
.sudoku-grid-cell[data-y="5"] {
  border-bottom: 0.3rem solid var(--details-color);
}

.sudoku-grid-cell-highlight {
  position: absolute;
  width: 80%;
  height: 80%;
  
  display: flex;
  align-items: center;

  border-radius: 50%;
  background-color: var(--primary-color);

  opacity: 0;
  transform: scale(0.8);

  transition: all 75ms ease-out;
}

.sudoku-grid-cell-highlight[data-is-selected="true"] {
  opacity: 1;
  transform: scale(1);

  transition: all 75ms ease-out;
}

.difficulty-selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto 0 auto;
  max-width: 90svw;
}

.difficulty-selection * > * {
  min-width: 6rem;
  margin: 0.2rem;
}

.number-selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto;
  max-width: 90svw;
}

.number-selection * > * {
  margin: 0.15rem;
}