:root {
  --primary-color: rgb(223, 94, 51);
  --grid-emphasis-color: rgb(222, 143, 117);

  --details-color: whitesmoke;
  --gridline-emphasis-width: 3px;
}

:focus { outline: none; }

#root {
  margin: 0;
  padding: 0;
  width: 100svw;
  height: 100svh;
  text-align: center;
  box-sizing: border-box;

  justify-content: center;
  vertical-align: middle;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.app-base {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  min-height: 100%;

  margin: 0;
}

.sudoku-grid-wrapper {
  position: relative;

  width: min(80svw, 50svh);
  height: min(80svw, 50svh);

  margin: 0 auto;
  margin-top: 2rem;
}

.sudoku-grid {
  display: grid;

  width: 100%;
  height: 100%;

  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);

  border-radius: 1rem;
  outline: solid 3px var(--details-color);

  overflow: hidden;
  background-color: rgb(57, 59, 60);
}

.gridline-emphasis {
  position: absolute;

  display: flex;
  justify-content: space-evenly;
  pointer-events: none;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
}

.flex-direction-column {
  flex-direction: column;
}

.gridline-emphasis-vertical {
  width: var(--gridline-emphasis-width);
  height: 100%;
  background-color: var(--grid-emphasis-color);
}

.gridline-emphasis-horizontal {
  width: 100%;
  height: var(--gridline-emphasis-width);
  background-color: var(--grid-emphasis-color);
}

.sudoku-grid-cell {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: solid var(--details-color) 1px;
  border-right: solid var(--details-color) 1px;
}

.difficulty-selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto 0 auto;
  max-width: 90svw;
}

.difficulty-selection * > * {
  min-width: 6rem;
  margin: 0.2rem;
}

.number-selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto;
  max-width: 90svw;
}

.number-selection * > * {
  margin: 0.15rem;
}